<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    @if(Model == null)
    {
      <h2>Deleted!</h2>
    }
    else
    {
      <h1>New Information</h1>
      <h3>@Model.GetName()</h3>
    }

    <a href="/stylists"><button type="button" name="button">All Stylists</button></a>
    <a href="/"><button type="button" name="button">Home</button></a>
  </body>
</html>
