<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Name: @Model.GetName()</h1>
    <h2>Client List: </h2>
    <ul>
      @foreach(var client in Model.GetAllClientsByStylist())
      {
        <li>
          <div class="client">
            <h3>@client.GetName()</h3>
            <a href="/client/edit/@client.GetId()"><button type="button" name="button">Edit</button></a>
            <form action="/client/delete/@client.GetId()" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit">Delete</button>
            </form>
          </div>
        </li>
      }
    </ul>
    <form action="/stylist/new_client" method="post">
      <label>New Client Name: </label>
      <input type="text" name="name" value=""> <br>
      <input type="hidden" name="stylistId" value="@Model.GetId()">
      <button type="submit" name="button">Add Client</button>
    </form>
  <a href="/stylist/edit/@Model.GetId()"><button type="button" name="button">Edit</button></a>
  <form action="/stylist/delete/@Model.GetId()" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Delete</button>
  </form>
  <a href="/"><button type="button" name="button">Home</button></a>
  </body>
</html>
