<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Name: @Model.GetName()</h1>
    <h2>Other: Stylist details</h2>
    <h2>Other: Stylist details</h2>
    <h2>Other: Stylist details</h2>
  <a href="/stylist/edit/@Model.GetId()"><button type="button" name="button">Edit</button></a>
  <form action="/stylist/delete/@Model.GetId()" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Delete</button>
  </form>
  <a href="/"><button type="button" name="button">Home</button></a>
  </body>
</html>
